@font-face {
  font-family: "onoma";
  src: url("/fonts/Onoma.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "avenir";
  src: url("/fonts/AvenirLTProBook.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "designer";
  src: url("/fonts/Designer.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "harabara";
  src: url("/fonts/Harabara.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
