<p-card [style]="{ width: '20rem', overflow: 'hidden' }">
    <ng-template #header>
        <img 
            [alt]="movie.title" priority
            width="500" 
            height="500" 
            class="w-full" 
            [ngSrc]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
            />
    </ng-template>
    <ng-template #title> {{movie.title}} </ng-template>
    <ng-template #subtitle> Release date: {{movie.release_date}} </ng-template>
    <p>
    {{movie.overview | slice:0:150}}{{movie.overview.length > 150 ? '...' : ''}}
    </p>
    <ng-template #footer>
    </ng-template>
</p-card>
