//TO DO
.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.movie-card {
  text-align: center;
  color: white;

  img {
    width: 100%;
    border-radius: 8px;
  }
}
