@use "primeicons/primeicons.css";
@use 'primeflex/primeflex.scss';
@use './styles/fonts';

body {
  font-family: "avenir", sans-serif;
  background-color: #f8f8f8b4;
  min-height: 100dvh;
}

body .no-scroll{
    overflow-x: hidden;
}

body .onoma{
    font-family: "onoma";
}

body .averi{
    font-family: "averi";
}

body .designer{
    font-family: "designer";
}