<p-toolbar>
    <ng-template #start>
        <div class="flex align-items-center">
            <p-button 
                (click)="visible = true" 
                icon="pi pi-bars" 
                [text]="true" 
                severity="secondary"
            />
        </div>
    </ng-template>
    
    <ng-template #end>
        <p-iconfield iconPosition="right">
            <p-inputicon class="pi pi-search" />
            <input 
                type="text" 
                pInputText 
                placeholder="Search movies" 
            />
        </p-iconfield>
    </ng-template>
</p-toolbar>

<p-drawer [(visible)]="visible" header="Menu">
    <div class="flex flex-column gap-2">
        @for (item of menuItems; track $index) {
            <a 
                [routerLink]="item.route"
                (click)="visible = false"
                class="flex align-items-center gap-3 p-3 border-round cursor-pointer no-underline"
            >
                <i [class]="item.icon + ' text-xl text-500'"></i>
                <span class="font-medium text-500">{{ item.label }}</span>
            </a>
        }
    </div>
</p-drawer>